/* Vidéo en plein écran avec crop automatique */
#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* remplit et rogne si nécessaire */
    z-index: 0;
}

/* ========================
   Canvas Three.js
   ======================== */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none; /* pour que le toucher passe sur les boutons */
}

/* ========================
   Boutons généraux
   ======================== */
.ar-button {
    padding: 10px 20px;
    width: 140px;
    height: 50px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;


    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}




/* ========================
   Bouton spécifique : Prendre photo
   ======================== */
#takePhoto {
    background-color: #28a745; /* vert */
    bottom: 70px;
    
}

/* ========================
   Bouton spécifique : Changer caméra
   ======================== */
#switchCamera {
    background-color: #ffc107; /* jaune */
}